$navbar-gradient: linear-gradient(to right, #23c4da, #00b5e4, #00a4ed, #0091f0, #127aeb);
.navbar {
    background: $navbar-gradient;
}

.col-md-6 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5rem;

    #name {
        font-size: 4rem;
    }
    #quote {
        font-style: italic;
        color: gray;
    }
    #intro {
        font-family: 'Dosis', sans-serif;
    }
    .table {
        font-family: 'Dosis', sans-serif;
        font-size: 1rem;
    }
}

$portfolio-gradient: linear-gradient(to bottom right, #1aade9, #1712eb);
$completed-gradient: linear-gradient(to bottom right, #56D0FD, #56FD7D);
$future-gradient: linear-gradient(to bottom right, #FDBD56, #FD56B6);
.card {
    border-radius: 10px;
    padding: 30px;
    border: 0;
}
.portfolio-card {
    @extend .card;
    background: $portfolio-gradient;
}
.complete-card {
    @extend .card;
    background: $completed-gradient;
}
.future-card {
    @extend .card;
    background: $future-gradient;
}