/* application overall */
@media (min-width: 1200px) {
    .container-fluid     {
        width: 85%;
        margin-top: 40px;
    }
}

.page-header {
    padding: 15px;
}

/* about.html */
#about-container {
    margin-top: 5%;
}

#about-img {
    width: 100%;
}

/* traveled.html */
#map {
    transition: height 1s;
}

@media (min-width: 800px) {
    #map {
        height: 600px;
    }
}
@media (max-width: 799px) {
    #map {
        height: 400px;
    }
}

.table-head {
    background-color: LightGray;
}

.table-p {
    margin: 0;
}

/* portfolio.html */
.card {
    margin: 15px;
}