/* application overall */
body {
    background-color: antiquewhite;
}

@media (min-width: 1200px) {
    .container-fluid     {
        width: 85%;
    }
}
.page-head {
    padding: 20px;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 3.5rem;
}


/* about.html */
#about-container {
    margin-top: 5%;
}
#about-img {
    width: 100%;
}
#quote {
    font-style: italic;
}

/* traveled.html */
@media (min-width: 744px) {
    .travel-row {
        height: auto;
    }
    #map {
        height: 100%;
    }
}
@media (max-width: 743px) {
    #map {
        height: 400px;
    }
}
.table {
    background-color: floralwhite;
}
.table-p {
    margin: 0;
}

/* portfolio.html */
.card {
    margin: 15px;
}

/* challenges.html */
.carousel-item {
    width: ;
}