/* application overall */
body {
    background-color: antiquewhite;
}

@media (min-width: 1200px) {
    .container-fluid     {
        width: 85%;
    }
}
.page-head {
    padding: 20px;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 5rem;
}
.col-md-6 {
    padding-bottom: 20px;
}
.col-md-4 {
    padding: 30px;
}

/* about.html */
#about-container {
    height: 80%;
}
#about-img {
    width: 100%;
}
#name {
    font-family: 'Nanum Brush Script', cursive;
}
#quote {
    font-style: italic;
}

/* traveled.html */
@media (min-width: 768px) {
    .travel-row {
        height: auto;
    }
    #map {
        height: 100%;
    }
}
@media (max-width: 767px) {
    #map {
        height: 400px;
    }
}
.table {
    background-color: floralwhite;
}
.table-p {
    margin: 0;
}

/* portfolio.html */
.card {

}

/* challenges.html */
.carousel-item {
    width: ;
}